/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Ocultar barras de desplazamiento visuales globalmente */
::-webkit-scrollbar {
  display: none !important;
}

* {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE y Edge antiguo */
}
